/* Colorscheme */

:root {
    --light-txt-color: black;
    --light-bg-color: white;
    --light-bg-color2: #f4f4f4;
    --light-bg-color3: #e4e4e4;
    --light-footer-bg-color: #1b1b1b;
    --light-footer-txt-color: #afafaf;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-s: 14px;
}

/* Font */

:root {
    --font-family-body: "Bookman Old Style", serif;
    --font-family-headings: "Calibri", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-headings);
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

.logo>h1 {
    font-size: 2.5rem;
    font-weight: 200;
}


body {
    font-family: var(--font-family-body);
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: 1.5rem;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.light-theme {
    color: var(--light-txt-color);
    background-color: var(--light-bg-color);
}

a {
    text-decoration: none;
}


/* Header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-bg-color3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.header-container>.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
}

.header-container>p {
    margin: 0 3rem;
}

h1>a {
    color: var(--txt-color);
}

.logo>img {
    width: 3rem;
    height: 3em;
    margin: 0 1rem;
}


/* Page */

.page-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: space-between;
}

.section-container {
    display: flex;
    width: 100%;
}

.section-container:nth-of-type(even) {
    flex-direction: row-reverse;
}


/* Side Panel */

.side-panel {
    padding: 0 2rem;
    width: 14rem;
    height: 100%;
    margin: 0 2rem 0 0;
    text-align: center;
    background-color: var(--light-bg-color2);
}

.side-panel-content>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-panel-content>ul>li {
    padding: 1rem;
}

li>a {
    color: var(--txt-color);
}

.side-panel-content>h2 {
    margin-top: 4rem;
}

.side-panel-content>.menu {
    padding: 1.5rem 0 0 0;
}

.side-panel-content>.lang {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.side-panel-content>.media {
    display: flex;
    justify-content: center;
}

.side-panel-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 3rem;
    margin-top: 6rem;
}


/* Contents */

.face {
    margin: 0 0 2rem auto;
    height: 15rem;
    width: 15rem;
    border-radius: 1000px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10rem auto 3rem;
    padding-right: 2rem;
    background-color: var(--light-bg-color);
}

.file-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.table-container>table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    line-height: 2rem;
    text-align: left;
    width: 100%;
}

.section-container {
    margin: 4rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section-container:nth-child(even) {
    flex-direction: row-reverse;
}

.img-container {
    width: 50%;
    margin: auto 0;
    padding: 20px;
    box-shadow: #1b1b1b 0 0px 50px;
}

.text-container {
    width: 50%;
    text-align: left;
}

.section-container>hr {
    margin: 2rem;
    border: none;
}

.assoc-container {
    text-align: center;
    margin: 2rem 0;
}

.assoc {
    width: 16rem;
    padding: 4rem;
}

iframe {
    border: none;
}

.home-img {
    width: 100%;
    height: auto;
}

.img-container>figcaption {
    font-style: italic;
}

tr>th {
    padding: 1rem;
    background-color: var(--light-bg-color3);
}

tr>td {
    padding: 0 1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-container>hr {
    width: 15%;
    max-width: 6rem;
    text-align: left;
    margin-left: 0;
    margin-top: 3rem;
    border: black 1px solid;
}

.table-container {
    width: 100%;
    margin: 0 auto 100%;
}


/* Footer */

.footer-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    background-color: var(--light-footer-bg-color);
    color: var(--light-footer-txt-color);
}

.legal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 2rem 1rem;
    font-size: var(--font-size-s);
}

.bi-quote {
    font-size: 2rem;
}

.footer-container>.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
    list-style: none;
    text-align: right;
}

/* Effects */

a:hover {
    color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1536px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .section-container:nth-child(even) {
        flex-direction: column;
    }

    .section-container>.img-container {
        width: 70%;
    }

    .section-container>.text-container {
        width: 100%;
    }
}

@media screen and (max-width: 1124px) {
    /* Header */

    .header-container {
        /* box-shadow: black 0 0 5px; */
    }

    .header-container>p {
        font-size: var(--font-size-l);
    }


    /* Page */

    .page-container {
        flex-direction: column;
    }

    .content-container {
        margin-top: 14rem;
        padding: 2rem;
        width: 80%;
    }

    .section-container>.img-container {
        width: 100%;
    }

    .content-container>table {
        font-size: var(--font-size-l);
    }



    /* Menu */

    .side-panel {
        height: 11rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        box-shadow: black 0 0 5px;
    }

    .side-panel-content {
        flex-direction: row;
        position: fixed;
        left: 0;
        height: 4rem;
        width: inherit;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-l);
    }

    .side-panel-content>h2 {
        display: none;
    }

    .side-panel-content>.menu {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 2rem;
    }

    .side-panel-content>.lang {
        margin-right: 3rem;
    }

    .side-panel-content>.media {
        display: none;
    }


    /* Footer */

    .footer-container {
        height: 20rem;
    }

    .footer-container>.legal-info {
        font-size: var(--font-size-m);
    }

    .footer-container>.media {
        font-size: var(--font-size-l);
        line-height: 4rem;
    }

    .bi-quote {
        font-size: 4rem;
    }
}